// Microsoft Visual C++ generated resource script.
//
#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

//IDI_ICON1   ICON    "app.ico"  // Icon file not available
